#include <windows.h>
#include <commctrl.h>
#include "resource.h"

#ifndef TBS_NOTICKS
#define TBS_NOTICKS 0x0008
#endif
#ifndef TBS_HORZ
#define TBS_HORZ 0x0000
#endif
#ifndef TBS_VERT
#define TBS_VERT 0x0004
#endif

IDD_JDSP_CONFIG DIALOGEX 0, 0, 500, 370
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION "JamesDSP Settings"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    CONTROL         "", IDC_TAB_MAIN, WC_TABCONTROL, WS_TABSTOP, 7, 7, 486, 335
    PUSHBUTTON      "Save Config", IDC_BTN_SAVE_CONFIG, 80, 350, 60, 14
    PUSHBUTTON      "Load Config", IDC_BTN_LOAD_CONFIG, 145, 350, 60, 14
    PUSHBUTTON      "Reset All", IDC_BTN_RESET_ALL, 210, 350, 50, 14
    COMBOBOX        IDC_COMBO_LANGUAGE, 300, 350, 60, 60, CBS_DROPDOWNLIST | WS_VSCROLL
    DEFPUSHBUTTON   "OK", IDOK, 380, 350, 50, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 436, 350, 50, 14
END

IDD_TAB_MODULES DIALOGEX 0, 0, 470, 310
STYLE DS_SETFONT | DS_CONTROL | WS_CHILD | WS_BORDER
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    AUTOCHECKBOX     "Analog Modelling",     IDC_CHK_ANALOG,       10, 10, 200, 10
    AUTOCHECKBOX     "BS2B Crossfeed",       IDC_CHK_BS2B,         10, 28, 200, 10
    AUTOCHECKBOX     "DDC",                  IDC_CHK_DDC,          10, 46, 200, 10
    AUTOCHECKBOX     "Limiter",              IDC_CHK_LIMITER,      10, 64, 200, 10
    AUTOCHECKBOX     "Compressor",           IDC_CHK_COMPRESSOR,   10, 82, 200, 10
    AUTOCHECKBOX     "Convolver",            IDC_CHK_CONVOLVER,    10, 100, 200, 10
    AUTOCHECKBOX     "Reverb",               IDC_CHK_REVERB,       10, 118, 200, 10
    AUTOCHECKBOX     "Bass Boost",           IDC_CHK_BASS_BOOST,   10, 136, 200, 10
    AUTOCHECKBOX     "Stereo Widener",       IDC_CHK_STEREO,       10, 154, 200, 10
    AUTOCHECKBOX     "Equalizer",            IDC_CHK_IIR,          10, 172, 200, 10
    AUTOCHECKBOX     "Spectrum Extender",    IDC_CHK_SPECTRUM,     10, 190, 200, 10
    AUTOCHECKBOX     "EEL2 Scripting",       IDC_CHK_EEL2,         10, 208, 200, 10
END

IDD_TAB_EQ DIALOGEX 0, 0, 470, 310
STYLE DS_SETFONT | DS_CONTROL | WS_CHILD | WS_BORDER
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT            "+0.0",  IDC_STATIC_EQ_BANDVAL0, 10, 164, 34, 8
    CONTROL          "",     IDC_SLIDER_EQ_BAND0, "msctls_trackbar32", TBS_VERT | TBS_NOTICKS, 16, 176, 18, 68
    LTEXT            "25",    IDC_STATIC_EQ_BANDFREQ0, 10, 250, 34, 8
    LTEXT            "+0.0",  IDC_STATIC_EQ_BANDVAL0 + 1, 40, 164, 34, 8
    CONTROL          "",     IDC_SLIDER_EQ_BAND0 + 1, "msctls_trackbar32", TBS_VERT | TBS_NOTICKS, 46, 176, 18, 68
    LTEXT            "40",    IDC_STATIC_EQ_BANDFREQ0 + 1, 40, 250, 34, 8
    LTEXT            "+0.0",  IDC_STATIC_EQ_BANDVAL0 + 2, 70, 164, 34, 8
    CONTROL          "",     IDC_SLIDER_EQ_BAND0 + 2, "msctls_trackbar32", TBS_VERT | TBS_NOTICKS, 76, 176, 18, 68
    LTEXT            "63",    IDC_STATIC_EQ_BANDFREQ0 + 2, 70, 250, 34, 8
    LTEXT            "+0.0",  IDC_STATIC_EQ_BANDVAL0 + 3, 100, 164, 34, 8
    CONTROL          "",     IDC_SLIDER_EQ_BAND0 + 3, "msctls_trackbar32", TBS_VERT | TBS_NOTICKS, 106, 176, 18, 68
    LTEXT            "100",   IDC_STATIC_EQ_BANDFREQ0 + 3, 100, 250, 34, 8
    LTEXT            "+0.0",  IDC_STATIC_EQ_BANDVAL0 + 4, 130, 164, 34, 8
    CONTROL          "",     IDC_SLIDER_EQ_BAND0 + 4, "msctls_trackbar32", TBS_VERT | TBS_NOTICKS, 136, 176, 18, 68
    LTEXT            "160",   IDC_STATIC_EQ_BANDFREQ0 + 4, 130, 250, 34, 8
    LTEXT            "+0.0",  IDC_STATIC_EQ_BANDVAL0 + 5, 160, 164, 34, 8
    CONTROL          "",     IDC_SLIDER_EQ_BAND0 + 5, "msctls_trackbar32", TBS_VERT | TBS_NOTICKS, 166, 176, 18, 68
    LTEXT            "250",   IDC_STATIC_EQ_BANDFREQ0 + 5, 160, 250, 34, 8
    LTEXT            "+0.0",  IDC_STATIC_EQ_BANDVAL0 + 6, 190, 164, 34, 8
    CONTROL          "",     IDC_SLIDER_EQ_BAND0 + 6, "msctls_trackbar32", TBS_VERT | TBS_NOTICKS, 196, 176, 18, 68
    LTEXT            "400",   IDC_STATIC_EQ_BANDFREQ0 + 6, 190, 250, 34, 8
    LTEXT            "+0.0",  IDC_STATIC_EQ_BANDVAL0 + 7, 220, 164, 34, 8
    CONTROL          "",     IDC_SLIDER_EQ_BAND0 + 7, "msctls_trackbar32", TBS_VERT | TBS_NOTICKS, 226, 176, 18, 68
    LTEXT            "630",   IDC_STATIC_EQ_BANDFREQ0 + 7, 220, 250, 34, 8
    LTEXT            "+0.0",  IDC_STATIC_EQ_BANDVAL0 + 8, 250, 164, 34, 8
    CONTROL          "",     IDC_SLIDER_EQ_BAND0 + 8, "msctls_trackbar32", TBS_VERT | TBS_NOTICKS, 256, 176, 18, 68
    LTEXT            "1k",    IDC_STATIC_EQ_BANDFREQ0 + 8, 250, 250, 34, 8
    LTEXT            "+0.0",  IDC_STATIC_EQ_BANDVAL0 + 9, 280, 164, 34, 8
    CONTROL          "",     IDC_SLIDER_EQ_BAND0 + 9, "msctls_trackbar32", TBS_VERT | TBS_NOTICKS, 286, 176, 18, 68
    LTEXT            "1.6k",  IDC_STATIC_EQ_BANDFREQ0 + 9, 280, 250, 34, 8
    LTEXT            "+0.0",  IDC_STATIC_EQ_BANDVAL0 + 10, 310, 164, 34, 8
    CONTROL          "",     IDC_SLIDER_EQ_BAND0 + 10, "msctls_trackbar32", TBS_VERT | TBS_NOTICKS, 316, 176, 18, 68
    LTEXT            "2.5k",  IDC_STATIC_EQ_BANDFREQ0 + 10, 310, 250, 34, 8
    LTEXT            "+0.0",  IDC_STATIC_EQ_BANDVAL0 + 11, 340, 164, 34, 8
    CONTROL          "",     IDC_SLIDER_EQ_BAND0 + 11, "msctls_trackbar32", TBS_VERT | TBS_NOTICKS, 346, 176, 18, 68
    LTEXT            "4k",    IDC_STATIC_EQ_BANDFREQ0 + 11, 340, 250, 34, 8
    LTEXT            "+0.0",  IDC_STATIC_EQ_BANDVAL0 + 12, 370, 164, 34, 8
    CONTROL          "",     IDC_SLIDER_EQ_BAND0 + 12, "msctls_trackbar32", TBS_VERT | TBS_NOTICKS, 376, 176, 18, 68
    LTEXT            "6.3k",  IDC_STATIC_EQ_BANDFREQ0 + 12, 370, 250, 34, 8
    LTEXT            "+0.0",  IDC_STATIC_EQ_BANDVAL0 + 13, 400, 164, 34, 8
    CONTROL          "",     IDC_SLIDER_EQ_BAND0 + 13, "msctls_trackbar32", TBS_VERT | TBS_NOTICKS, 406, 176, 18, 68
    LTEXT            "10k",   IDC_STATIC_EQ_BANDFREQ0 + 13, 400, 250, 34, 8
    LTEXT            "+0.0",  IDC_STATIC_EQ_BANDVAL0 + 14, 430, 164, 34, 8
    CONTROL          "",     IDC_SLIDER_EQ_BAND0 + 14, "msctls_trackbar32", TBS_VERT | TBS_NOTICKS, 436, 176, 18, 68
    LTEXT            "16k",   IDC_STATIC_EQ_BANDFREQ0 + 14, 430, 250, 34, 8
    LTEXT            "Band:",           IDL_EQ_BAND,        10, 268, 26, 8
    COMBOBOX         IDC_COMBO_EQ_BAND,                     38, 266, 50, 80, CBS_DROPDOWNLIST | WS_VSCROLL
    LTEXT            "Freq (Hz):",      IDL_EQ_FREQ,        100, 268, 44, 8
    EDITTEXT         IDC_EDIT_EQ_FREQ,                      146, 266, 50, 13, ES_AUTOHSCROLL
    LTEXT            "Gain (dB):",      IDL_EQ_GAIN,        206, 268, 44, 8
    EDITTEXT         IDC_EDIT_EQ_GAIN,                      252, 266, 50, 13, ES_AUTOHSCROLL
    PUSHBUTTON       "Reset Flat",      IDC_BTN_EQ_RESET,   320, 265, 60, 14
    AUTOCHECKBOX     "Enable",          IDC_CHK_EQ_ENABLE,  8, 266, 60, 12
    LTEXT            "Filter type:",    IDL_EQ_FILTERTYPE,  10, 288, 46, 8
    COMBOBOX         IDC_COMBO_EQ_FILTERTYPE,               58, 286, 110, 120, CBS_DROPDOWNLIST | WS_VSCROLL
    LTEXT            "Interpolation:",  IDL_EQ_INTERP,      180, 288, 48, 8
    COMBOBOX         IDC_COMBO_EQ_INTERP,                   230, 286, 90, 80, CBS_DROPDOWNLIST | WS_VSCROLL
END

IDD_TAB_DYNAMICS DIALOGEX 0, 0, 470, 310
STYLE DS_SETFONT | DS_CONTROL | WS_CHILD | WS_BORDER
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    GROUPBOX         "Compressor",           IDL_DYN_COMP_GRP,      10, 8, 450, 95
    AUTOCHECKBOX     "Enable",               IDC_CHK_COMP,          20, 20, 100, 10
    LTEXT            "Time constant (s):",   IDL_DYN_COMP_TIME,     20, 38, 62, 10
    CONTROL          "",                     IDC_SLIDER_COMP_TIME,  "msctls_trackbar32", TBS_NOTICKS | TBS_HORZ, 85, 36, 180, 14
    LTEXT            "0.10",                 IDC_STATIC_COMP_TIME,  272, 38, 60, 10
    LTEXT            "Granularity (0-3):",   IDL_DYN_COMP_GRAN,     20, 56, 62, 10
    CONTROL          "",                     IDC_SLIDER_COMP_GRAN,  "msctls_trackbar32", TBS_NOTICKS | TBS_HORZ, 85, 54, 180, 14
    LTEXT            "1",                    IDC_STATIC_COMP_GRAN,  272, 56, 60, 10
    LTEXT            "TF resolution (0-3):", IDL_DYN_COMP_TFRES,    20, 74, 62, 10
    CONTROL          "",                     IDC_SLIDER_COMP_TFRES, "msctls_trackbar32", TBS_NOTICKS | TBS_HORZ, 85, 72, 180, 14
    LTEXT            "2",                    IDC_STATIC_COMP_TFRES, 272, 74, 60, 10
    LTEXT            "Band gains (dB):",     IDL_DYN_COMP_BANDS,    20, 90, 62, 10

    GROUPBOX         "Compressor band gains", IDL_DYN_COMP_BANDGRP, 10, 105, 450, 72
    LTEXT            "0.0",  IDC_STATIC_COMP_BANDVAL0, 58, 118, 40, 8
    CONTROL          "",     IDC_SLIDER_COMP_BAND0, "msctls_trackbar32", TBS_VERT | TBS_NOTICKS, 68, 130, 18, 30
    LTEXT            "95",   IDC_STATIC_COMP_BAND0, 58, 162, 40, 8
    LTEXT            "0.0",  IDC_STATIC_COMP_BANDVAL0 + 1, 113, 118, 40, 8
    CONTROL          "",     IDC_SLIDER_COMP_BAND0 + 1, "msctls_trackbar32", TBS_VERT | TBS_NOTICKS, 123, 130, 18, 30
    LTEXT            "200",  IDC_STATIC_COMP_BAND0 + 1, 113, 162, 40, 8
    LTEXT            "0.0",  IDC_STATIC_COMP_BANDVAL0 + 2, 168, 118, 40, 8
    CONTROL          "",     IDC_SLIDER_COMP_BAND0 + 2, "msctls_trackbar32", TBS_VERT | TBS_NOTICKS, 178, 130, 18, 30
    LTEXT            "400",  IDC_STATIC_COMP_BAND0 + 2, 168, 162, 40, 8
    LTEXT            "0.0",  IDC_STATIC_COMP_BANDVAL0 + 3, 223, 118, 40, 8
    CONTROL          "",     IDC_SLIDER_COMP_BAND0 + 3, "msctls_trackbar32", TBS_VERT | TBS_NOTICKS, 233, 130, 18, 30
    LTEXT            "800",  IDC_STATIC_COMP_BAND0 + 3, 223, 162, 40, 8
    LTEXT            "0.0",  IDC_STATIC_COMP_BANDVAL0 + 4, 278, 118, 40, 8
    CONTROL          "",     IDC_SLIDER_COMP_BAND0 + 4, "msctls_trackbar32", TBS_VERT | TBS_NOTICKS, 288, 130, 18, 30
    LTEXT            "1.6k", IDC_STATIC_COMP_BAND0 + 4, 278, 162, 40, 8
    LTEXT            "0.0",  IDC_STATIC_COMP_BANDVAL0 + 5, 333, 118, 40, 8
    CONTROL          "",     IDC_SLIDER_COMP_BAND0 + 5, "msctls_trackbar32", TBS_VERT | TBS_NOTICKS, 343, 130, 18, 30
    LTEXT            "3.4k", IDC_STATIC_COMP_BAND0 + 5, 333, 162, 40, 8
    LTEXT            "0.0",  IDC_STATIC_COMP_BANDVAL0 + 6, 388, 118, 40, 8
    CONTROL          "",     IDC_SLIDER_COMP_BAND0 + 6, "msctls_trackbar32", TBS_VERT | TBS_NOTICKS, 398, 130, 18, 30
    LTEXT            "7.5k", IDC_STATIC_COMP_BAND0 + 6, 388, 162, 40, 8

    GROUPBOX         "Limiter",              IDL_DYN_LIM_GRP,       10, 179, 450, 62
    AUTOCHECKBOX     "Enable",               IDC_CHK_LIM,           20, 191, 100, 10
    LTEXT            "Threshold (dB):",      IDL_DYN_LIM_THRESH,    20, 208, 62, 10
    CONTROL          "",                     IDC_SLIDER_LIM_THRESH, "msctls_trackbar32", TBS_NOTICKS | TBS_HORZ, 85, 206, 180, 14
    LTEXT            "-1.0",                 IDC_STATIC_LIM_THRESH, 272, 208, 60, 10
    LTEXT            "Release (ms):",        IDL_DYN_LIM_RELEASE,   20, 226, 62, 10
    CONTROL          "",                     IDC_SLIDER_LIM_RELEASE, "msctls_trackbar32", TBS_NOTICKS | TBS_HORZ, 85, 224, 180, 14
    LTEXT            "50",                   IDC_STATIC_LIM_RELEASE, 272, 226, 60, 10

    GROUPBOX         "DDC",                  IDL_DYN_DDC_GRP,       10, 243, 450, 60
    AUTOCHECKBOX     "Enable",               IDC_CHK_DDC_ENABLE,    20, 255, 100, 10
    LTEXT            "Profile:",             IDL_DYN_DDC_PROFILE,   20, 276, 40, 10
    EDITTEXT         IDC_EDIT_DDC_PROFILE,                         64, 273, 330, 14, ES_AUTOHSCROLL
    PUSHBUTTON       "Browse...",            IDC_BTN_DDC_BROWSE,   400, 273, 50, 14
END

IDD_TAB_EFFECTS DIALOGEX 0, 0, 470, 310
STYLE DS_SETFONT | DS_CONTROL | WS_CHILD | WS_BORDER
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    GROUPBOX         "Analog Modelling",     IDL_FX_TUBE_GRP,       10, 8, 220, 50
    AUTOCHECKBOX     "Enable",               IDC_CHK_TUBE_EFFECT,   20, 20, 100, 10
    LTEXT            "Drive (dB):",          IDL_FX_TUBE_DRIVE,     20, 36, 50, 10
    CONTROL          "",                     IDC_SLIDER_TUBE_DRIVE, "msctls_trackbar32", TBS_NOTICKS | TBS_HORZ, 74, 34, 90, 14
    LTEXT            "3.0",                  IDC_STATIC_TUBE_DRIVE, 168, 36, 55, 10

    GROUPBOX         "Stereo Widener",       IDL_FX_STEREO_GRP,     240, 8, 220, 50
    AUTOCHECKBOX     "Enable",               IDC_CHK_STEREO_EFFECT, 250, 20, 100, 10
    LTEXT            "Width (%):",           IDL_FX_STEREO_WIDTH,   250, 36, 50, 10
    CONTROL          "",                     IDC_SLIDER_STEREO_WIDTH, "msctls_trackbar32", TBS_NOTICKS | TBS_HORZ, 304, 34, 90, 14
    LTEXT            "50",                   IDC_STATIC_STEREO_WIDTH, 398, 36, 55, 10

    GROUPBOX         "Bass Boost",           IDL_FX_BASS_GRP,       10, 64, 220, 50
    AUTOCHECKBOX     "Enable",               IDC_CHK_BASS_EFFECT,   20, 76, 100, 10
    LTEXT            "Max gain (dB):",       IDL_FX_BASS_BOOST,     20, 92, 60, 10
    CONTROL          "",                     IDC_SLIDER_BASS_BOOST, "msctls_trackbar32", TBS_NOTICKS | TBS_HORZ, 84, 90, 80, 14
    LTEXT            "6.0",                  IDC_STATIC_BASS_BOOST, 168, 92, 55, 10

    GROUPBOX         "Output",               IDL_FX_OUTPUT_GRP,     240, 64, 220, 50
    LTEXT            "Output gain (dB):",    IDL_FX_OUTPUT_GAIN,    250, 82, 70, 10
    CONTROL          "",                     IDC_SLIDER_OUTPUT_GAIN, "msctls_trackbar32", TBS_NOTICKS | TBS_HORZ, 322, 80, 80, 14
    LTEXT            "0.0",                  IDC_STATIC_OUTPUT_GAIN, 404, 82, 50, 10

    GROUPBOX         "BS2B Crossfeed",       IDL_FX_BS2B_GRP,       10, 120, 220, 50
    AUTOCHECKBOX     "Enable",               IDC_CHK_BS2B_EFFECT,   20, 132, 100, 10
    LTEXT            "Mode:",                IDL_FX_BS2B_MODE,      20, 148, 40, 10
    COMBOBOX         IDC_COMBO_BS2B_MODE,                          62, 146, 160, 120, CBS_DROPDOWNLIST | WS_VSCROLL

    GROUPBOX         "Reverb",               IDL_FX_REVERB_GRP,     10, 176, 452, 128
    AUTOCHECKBOX     "Enable",               IDC_CHK_REVERB_EFFECT, 20, 188, 78, 10
    LTEXT            "Preset:",              IDL_FX_REVERB_PRESET,  104, 188, 28, 10
    COMBOBOX         IDC_COMBO_REVERB_PRESET,                     134, 186, 132, 200, CBS_DROPDOWNLIST | WS_VSCROLL
    LTEXT            "",                     IDL_FX_REVERB_HINT,    272, 189, 182, 8

    LTEXT            "Wet (dB)",             IDL_FX_REVERB_WET,     18, 204, 60, 10
    CONTROL          "",                     IDC_SLIDER_REVERB_WET, "msctls_trackbar32", TBS_NOTICKS | TBS_HORZ, 82, 202, 88, 14
    LTEXT            "-8.0 dB",              IDC_STATIC_REVERB_WET, 174, 204, 44, 10
    LTEXT            "Damping",              IDL_FX_REVERB_DAMP,    228, 204, 60, 10
    CONTROL          "",                     IDC_SLIDER_REVERB_DAMP, "msctls_trackbar32", TBS_NOTICKS | TBS_HORZ, 292, 202, 90, 14
    LTEXT            "8000 Hz",              IDC_STATIC_REVERB_DAMP, 386, 204, 72, 10

    LTEXT            "Dry (dB)",             IDL_FX_REVERB_DRY,     18, 226, 60, 10
    CONTROL          "",                     IDC_SLIDER_REVERB_DRY, "msctls_trackbar32", TBS_NOTICKS | TBS_HORZ, 82, 224, 88, 14
    LTEXT            "-7.0 dB",              IDC_STATIC_REVERB_DRY, 174, 226, 44, 10
    LTEXT            "Bass %",               IDL_FX_REVERB_BASS,    228, 226, 60, 10
    CONTROL          "",                     IDC_SLIDER_REVERB_BASS, "msctls_trackbar32", TBS_NOTICKS | TBS_HORZ, 292, 224, 90, 14
    LTEXT            "20%",                  IDC_STATIC_REVERB_BASS, 386, 226, 72, 10

    LTEXT            "Width %",              IDL_FX_REVERB_WIDTH,   18, 248, 60, 10
    CONTROL          "",                     IDC_SLIDER_REVERB_WIDTH, "msctls_trackbar32", TBS_NOTICKS | TBS_HORZ, 82, 246, 88, 14
    LTEXT            "100%",                 IDC_STATIC_REVERB_WIDTH, 174, 248, 44, 10
    LTEXT            "Predelay",             IDL_FX_REVERB_PREDELAY, 228, 248, 60, 10
    CONTROL          "",                     IDC_SLIDER_REVERB_PREDELAY, "msctls_trackbar32", TBS_NOTICKS | TBS_HORZ, 292, 246, 90, 14
    LTEXT            "10 ms",                IDC_STATIC_REVERB_PREDELAY, 386, 248, 72, 10

    LTEXT            "Room (s)",             IDL_FX_REVERB_RT60,    18, 270, 60, 10
    CONTROL          "",                     IDC_SLIDER_REVERB_RT60, "msctls_trackbar32", TBS_NOTICKS | TBS_HORZ, 82, 268, 88, 14
    LTEXT            "2.8 s",                IDC_STATIC_REVERB_RT60, 174, 270, 44, 10
    LTEXT            "Early refl.",          IDL_FX_REVERB_ER,      228, 270, 60, 10
    CONTROL          "",                     IDC_SLIDER_REVERB_ER, "msctls_trackbar32", TBS_NOTICKS | TBS_HORZ, 292, 268, 90, 14
    LTEXT            "30%",                  IDC_STATIC_REVERB_ER,  386, 270, 72, 10
END

IDD_TAB_CONVOLVER DIALOGEX 0, 0, 470, 310
STYLE DS_SETFONT | DS_CONTROL | WS_CHILD | WS_BORDER
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    AUTOCHECKBOX     "Enable Convolver",     IDC_CHK_CONV_ENABLE, 10, 10, 200, 10
    GROUPBOX         "Impulse Response",     IDL_CV_IR_GRP,       10, 25, 450, 85
    LTEXT            "File:",                IDL_CV_FILE,         20, 42, 25, 10
    EDITTEXT         IDC_EDIT_CONV_IR,                           50, 40, 340, 14, ES_AUTOHSCROLL | ES_READONLY
    PUSHBUTTON       "Browse...",            IDC_BTN_CONV_BROWSE, 395, 40, 55, 14
    LTEXT            "No IR loaded",         IDC_STATIC_CONV_INFO, 20, 62, 430, 10
    LTEXT            "",                     IDL_CV_HINT,         20, 78, 430, 24
END

IDD_TAB_SPECTRUM DIALOGEX 0, 0, 470, 310
STYLE DS_SETFONT | DS_CONTROL | WS_CHILD | WS_BORDER
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    AUTOCHECKBOX     "Enable Spectrum Extender", IDC_CHK_SPECTRUM_ENABLE, 10, 10, 200, 10
    GROUPBOX         "Response File",        IDL_SP_GRP,          10, 25, 450, 85
    LTEXT            "File:",                IDL_SP_FILE,         20, 42, 25, 10
    EDITTEXT         IDC_EDIT_SPECTRUM_FILE,                     50, 40, 340, 14, ES_AUTOHSCROLL | ES_READONLY
    PUSHBUTTON       "Browse...",            IDC_BTN_SPECTRUM_BROWSE, 395, 40, 55, 14
    LTEXT            "No file loaded",       IDC_STATIC_SPECTRUM_INFO, 20, 62, 430, 10
    LTEXT            "",                     IDL_SP_FORMAT,       20, 78, 430, 24
END

IDD_TAB_SCRIPT DIALOGEX 0, 0, 470, 310
STYLE DS_SETFONT | DS_CONTROL | WS_CHILD | WS_BORDER
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    AUTOCHECKBOX     "Enable EEL2 Scripting", IDC_CHK_SCRIPT_ENABLE, 10, 10, 200, 10
    LTEXT            "Script:",              IDL_SC_SCRIPT,       10, 28, 30, 10
    EDITTEXT         IDC_EDIT_SCRIPT,                            10, 42, 450, 230, ES_MULTILINE | ES_AUTOVSCROLL | ES_WANTRETURN | WS_VSCROLL | WS_HSCROLL
    PUSHBUTTON       "Load Script...",       IDC_BTN_SCRIPT_LOAD,  10, 278, 80, 14
    PUSHBUTTON       "Save Script...",       IDC_BTN_SCRIPT_SAVE,  95, 278, 80, 14
    LTEXT            "Status: Ready",        IDL_SC_STATUS, 200, 280, 260, 10
END
